@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    section {
        @apply py-[75px];
    }
}

.gy:hover{
    background-color:RGBA(255, 0, 0, 0.5);
    box-shadow: 10px 10px 20px 10px ;
}


.btn {
    background-color: rgb(0, 119, 255);
    height: 35px;
    width: 200px;
    border-radius: 30px;
   

} 
.crbg,.btn1{
    background-color: rgb(0, 119, 255);
    height: 35px;
    width: 100%;
    border-radius: 30px;
   

}

@layer Components {
    .container {
        @apply max-w-full w-[1440px] px-5 mx-auto;
    }

    .heading {
        font-weight: 700;
        font-size: 44px;

        /* @apply text-[44px] leading-[54px] font-[700] text-headingColor; */
    }

    .text_para {

        font-size: 18px;
        font-weight: 400;
        color: black;
        max-width: 600px;
        font-family: "Manrope", sans-serif;
        line-height: 30px;


    }

    .header {
        @apply bg-[url("D:\medicare\Frontend\src\assets\images\mask.png")] bg-no-repeat bg-center bg-cover w-full h-[100px] leading-[100px];
    }

    .hero_section {
        background: url("D:\medicare\Frontend\src\assets\images\hero-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
    }
    .form-label {
        font-weight: 600; /* instead of font-semibold, use a numerical value for better consistency */
        font-size: 1rem; /* instead of text-[16px], use a relative unit like rem */
        margin-bottom: 0.5rem; /* instead of mb-2, use a relative unit like rem */
        color: black; /* instead of text-textColor, use a CSS variable for better customization */
      }

    .form_input{
        @apply w-full px-4 py-3 border border-solid border-[#0066ff61] focus:outline-none focus:border-blue-500 text-[16px] leading-7 cursor-pointer;
    }

}


@media only screen and (max-width:1024px) {
    .container {
        @apply w-full;

    }

    section {
        @apply py-[35px];
    }

}

@media only screen and (max-width:768px) {
    .heading {
        @apply text-[26px] leading-[36px];

    }

    .text_para {
        @apply text-[16px] leading-7 mt-3;
    }

}

.hel {
    margin-top: 20px;
    display: flex;
    gap: 35px;
}


.h {
    display: flex;
    /* margin-top: 40px; */
}



/* .head {
    position: fixed;
    backdrop-filter: blur(15px);
    top: 0px;
    z-index: 999;

} */


.hree:hover{
    background: blue;
    color: wheat;
    background-color: blue;
}


.heading{
    font-weight: 700;
    font-size: 44px;
    font-family: "Manrope", sans-serif;
}

.crbg{
    background-color: rgb(0, 119, 255);
    /* margin-top: 70px; */
}